<!-- app/views/offers/index.html.erb -->
<h1>Available Offers</h1>

<%= link_to 'Create a new offer', new_offer_path, class: 'btn btn-primary mb-3' %>

<div class="container">
  <div class="row">
    <% if @offers.present? %>
      <% @offers.each do |offer| %>
        <div class="col-md-4 mb-3">
          <div class="card">
            <%= image_tag offer.image_url, class: "card-img-top", alt: "Offer Image" %>
            <div class="card-body">
              <h5 class="card-title"><%= link_to offer.title, offer_path(offer), class: "text-dark" %></h5>
              <p class="card-text"><strong>Number of Fans:</strong> <%= offer.number_of_fan %></p>
              <p class="card-text"><strong>Enthusiasm Level:</strong> <%= offer.enthusiasm_level %></p>
              <p class="card-text"><strong>Price:</strong> <%= number_to_currency(offer.price, unit: "€") %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>No offers available.</p>
    <% end %>
  </div>
</div>
