<div class="container">
  <h1><%= "Titre offre" %></h1>
  <p><%= @offer.number_of_fan %></p>
  <p><%= @offer.enthusiasm_level %></p>
  <p><%= @offer.activity %></p>
  <p><%= @offer.price %></p>
  <p><%= @offer.user_id %></p>
</div>

<p> <%= link_to "Back to offers", offers_path, :class => "btn btn-outline-secondary"%> </p>
